* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 30em;
  border: 1px solid silver;
  padding: 2em;
}

.padlock {
  width: 10em;
}

.padlock.padlock_clicked {
  opacity: 0.5;
}

.text {
  display: none;
}

.text.text_visible {
  display: block;
}
